extends ../master

block auth
    .auth__overlay
    .auth__container.container    
        .col-md-3.col-xs-1
        .col-md-6.col-xs-10.auth-form__wrapper
            .col-md-1.hidden-xs
            .col-md-10.auth-form__inner.col-xs-12
                block authForm
            .col-md-1.hidden-xs
        .col-md-3.col-xs-1