NODE_ENV=development
PROTOCOL=https://

# Setting up MySQL in Cloud9: https://community.c9.io/t/setting-up-mysql/1718
DB_NAME=
DB_USER=
DB_PASS=
DB_HOST=
DB_DRIVER=mysql
DB_PORT=3306

TZ=Europe/Amsterdam
DATE_FORMAT=YYYY-MM-DD HH:mm:ss
DATE_FORM_FORMAT=YYYY-MM-DD

# Server_port Should be 8081 for Cloud9
SERVER_PORT=3000

SESSION_SECRET=test1
SESSION_KEY=test2
COOKIE_SECRET=test3
COOKIE_MAX_AGE=3600000

SENDGRID_FROM_MAIL=info@changeroo.com
SENDGRID_NO_REPLY_MAIL=no-reply@changeroo.com
SENDGRID_API_KEY=
SENDGRID_SENDER_NAME=Changeroo
SENDGRID_INFORMATIONAL_TEMPLATE_ID=8a1f44c0-796e-45f1-8da1-e13876142816
SENDGRID_INFORMATIONAL_TEMPLATE_WITH_BUTTON_ID=4af2297d-3c86-4f29-9afd-6051dc3ebc6f
SENDGRID_INFORMATIONAL_TEMPLATE_WITH_BUTTONS_ID=072ba0ad-efc4-46d4-b922-4275f124c870

JWT_SECRET=test4
JWT_TOKEN_LIFETIME=3600000

FIREBASE_SECRET=
FIREBASE_DATABASE_ID=this is the db name in https://dbname.firebaseio.com/

MAX_ORGANISATION_MEMBERS=7

PAGINATION_TOTAL_RESOURCES=10
MAX_TOC_MEMBERS=25
MAX_TOC_MODERATORS=50
MAX_TOC_ADMINS=24
BLACKLIST_WORD_SETTING=FULL
RESIZE_AVATAR_SIZE=200
REMIND_UPGRADE_PLAN_DURATION=60

ACTIVATION_TOKEN_LIFETIME=3600
RESET_TOKEN_LIFETIME=3600

WE_ARE_HIRING=0

WEB_APP_URL=https://app.changeroo.com
CONTENT_URL=https://content.changeroo.com/wp-json/wp/v2
TOC_ACADEMY_CATEGORY_NUMBER=3

PAYLANE_MERCHANT_ID=wikichange
PAYLANE_SALT=bo7ke4hu

CRONJOB_EMAIL_HOST=localhost:3000
AFFILIATE_PROGRAM_PLAN_NAME="*Partner Program*"

# For local seeding only:
SYS_ADMIN_USERNAME=
SYS_ADMIN_PASSWORD=