extends ./master

include ../mixins/_editStakeholderForm

block stakeholderContent 
    .row.dashboard__section.dashboard__section-inner
        +editStakeholderForm(stakeholder, validations)
                    