//- Mailing 11: Send invoice after subscription purchase
//- Template: SENDGRID_INFORMATIONAL_TEMPLATE_WITH_BUTTON_ID (1 button, 2 bodies)

p!=`Hi ${stakeholder.full_name},`
p Thank you for your subscription purchase!
p You can find your invoice in the transaction overview in your organisation account, or press the button below to immediately access it.
------------------------------------
p Thanks for using Changeroo!
p Regards,