mixin forgotPasswordForm()
    .forgot-password__wrapper
        form(action=`/auth/forgot?_csrf=${csrfToken}` method="POST")        
            .form-group
                label(for="email") #{__('views.reset-password.enter-email')}
                input.form-control(type="email" name="email")
            input.btn.button(type="submit" value=__('views.buttons.submit-button'))
            a.col-xs-12.no-padding.login__forgot-never_mind #{__('views.reset-password.never-mind')}