extends ./master

block tocContent 
    .row.dashboard__section.profile__main
        .col-xs-2
        .col-xs-8
            h3.text-center!=`Embed toc ${toc.name}`
            p Coming soon
        .col-xs-2