extends ../master

include ../mixins/_createSupportOrganisationForm
include ../mixins/_contentHeader      

block content
    .inner__overlay.to-mid
    +contentHeader(title)
    .container-fluid.content__container.content__container-js.to-mid
        .container
            .content__inner
                .dashboard
                    .row.dashboard__section
                        br 
                        br
                        +createSupportOrganisationForm()