extends ../master

include ../mixins/_contentHeader

block content
    .inner__overlay.to-mid
    +contentHeader('Checkout complete')
    .container-fluid.content__container.content__container-js.to-mid
        .container
            .col-xs-2
            .col-xs-8.pages__inner
                h1 Checkout complete
                br 
                h3.
                    Thank you for your plan upgrade. It has been applied to your account and you can start using it immediately. 

            .col-xs-2