extends ../master

block content
    
    section.container.content__container-js
        .home__slider
            ul.col-xs-12
                li.home__slide
                    h1 <strong>Visualize</strong> your Theory of Change
                    p Use powerful intuitive visualization to show how your organization creates change and why your strategies will be successful in generating impact
                li.home__slide
                    h1 <strong>Communicate</strong> from the perspective of societal value creation
                    p Communicate about progress, challenges, innovations and other strategic issues, and demonstrate how these relate to your social mission
                li.home__slide
                    h1 <strong>Engage</strong> stakeholders!
                    p Together with stakeholders toward more meaning and impact. Incorporate the expertise and resources from stakeholders.
                li.home__slide
                    h1 <strong>Strategize</strong> around societal value creation
                    p Strategic management for social organisations
            
            .home__slider__dots__wrapper
                .slider__dots.slider__dots--hero

    section.container.bg-white
        .row.content__inner.home__inner.home__about
            .col-sm-1.hidden-md.hidden-lg.hidden-xl
            .col-sm-10.col-md-6
                h3 A strategic management approach to societal value creation
                p.
                    Changeroo assists organisations, programs and projects with a social mission to develop and manage high-quality 
                    <a href='/toc-academy'>Theories of Change</a>. 
                    It allows you to together with stakeholders co-create Theories of Change, and to present these in an interactive and engaging way.

                br

                p. 
                    Changeroo forms the basis for social organisations for impact management, strategic learning, communication, 
                    stakeholder engagement, and monitoring and evaluation; all from the perspective of societal value creation.
            .col-sm-1.hidden-md.hidden-lg.hidden-xl


            .col-sm-12.col-md-5.col-md-offset-1.home__about__video
                <iframe src="https://player.vimeo.com/video/229111344" width="500" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    
    .container-fluid.bg-white
        section.container.home__partners
            .content__inner.row.home__inner
                //- h3 Partners

                .partners__row.partners__first-row
                    a(target='_blank' href='http://cdi.wur.nl/english').partner.wageningen
                    a(target='_blank' href='https://www.woordendaad.nl/english').partner.woord-daad
                    a(target='_blank' href='http://www.tropenbos.org/').partner.tropenbos
                    a(target='_blank' href='https://mdf.nl/').partner.mdf
                    a(target='_blank' href='https://www.eur.nl/ice/').partner.ice
                    a(target='_blank' href='https://www.partos.nl/en/').partner.partos

                .partners__row.partners__second-row
                    a(target='_blank' href='https://english.rvo.nl/').partner.rvo
                    a(target='_blank' href='https://www.hivos.org/').partner.hivos
                    a(target='_blank' href='https://www.icco-cooperation.org/en/').partner.icco
                    a(target='_blank' href='https://www.dorcas.org/').partner.dorcas
                    a(target='_blank' href='https://english.iob-evaluatie.nl/').partner.iob

    .container-fluid.bg-gray
        section.container
            .row.content__inner.home__inner.home__features
                .col-xs-12
                    h3 Awesome features

                    .col-xs-12.col-md-5ths.home__feature
                        .home__feature__image__wrapper
                            .home__feature__image.feature__1
                        h4.text-center Visualize your Theory of Change
                        p.text-center.
                            Visualise your strategies to create impact and show why these will be successful in creating the change you seek.
                    .col-xs-12.col-md-5ths.home__feature
                        .home__feature__image__wrapper
                            .home__feature__image.feature__2
                        h4.text-center Zoom in on details and show insight into practice
                        p.text-center. 
                            Communicate the issues strategic to your social mission. 
                            Add validation, assumptions, goals, progress made, needs, innovations and more.

                    .col-xs-12.col-md-5ths.home__feature
                        .home__feature__image__wrapper
                            .home__feature__image.feature__3
                        h4.text-center Innovative stakeholder engagement
                        p.text-center.
                            Stakeholders contribute through a Wiki-like setup that is focused on consensus, integration of information and objective facts.
                    .col-xs-12.col-md-5ths.home__feature
                        .home__feature__image__wrapper
                            .home__feature__image.feature__4
                        h4.text-center Integration
                        p.text-center.
                            Easily embed your Changeroo account in your website or intranet.
                    .col-xs-12.col-md-5ths.home__feature
                        .home__feature__image__wrapper
                            .home__feature__image.feature__5
                        h4.text-center Unique combination of features
                        p.text-center.
                            Unique combination of logic, visual mapping, communication and stakeholder engagement.
    
    .container-fluid.bg-white
        .overlay.to-mid
        section.container
            .row.content__inner.home__inner.home__features
                .col-xs-12
                    video(width='100%', height='auto', loop='', autoplay='')
                        source(src='/img/screencast.mp4', type='video/mp4')
                        | Your browser does not support the video tag.
    .container-fluid.home__benefits-bg
        .overlay.to-mid 
        section.container.to-foreground 
            .row.content__inner.home__inner
                h3 Benefits
                .col-xs-12.col-md-6
                    h3 Businesses, NGOs and projects
                    br
                    h4 Organizations use Changeroo to develop, communicate and co-create their Theory of Change together with their stakeholders.
                    br
                    blockquote Foster a culture of strategic learning, critical thinking and results. Open up 'black boxes' in thinking, and approach societal value creation strategically.
                    blockquote Take advantage of guiding resources -- such as (video) tutorials, illustrations, thought tools, templates, questions to ask, etc. -- to build your Theory of Change.
                    blockquote Use your Changeroo account to consistently communicate about strategic issues from the perspective of societal value creation. Embed it on your website.
                    blockquote Make stakeholders part of the process. Utilize their expertise and resources.
                    blockquote Convince and fuel excitement for how your organisation is a benefit to society. Build buy-in from funders, civil society, customers, employees, and all stakeholders alike.
                    blockquote Build your framework for impact measurement, monitoring and evaluation.
                    blockquote Plan for partnerships and collaboration. Have a constantly evolving shared understanding and compass towards the desired impact.
                    

                .col-xs-12.col-md-6
                    h3 Stakeholders
                    br
                    h4 Stakeholders use Changeroo to learn about social organizations and to help them bring their societal value creation to higher levels.
                    br
                    blockquote Employ your expertise to be of help and influence. Contribute to help move social organisations forward in ways that align with your own values.
                    blockquote Present yourself through your contributions and by becoming a verified stakeholder.
                    blockquote Gain concrete and thorough understanding of social organizations' impact rationales and their progress achieved.
                    blockquote Basis for decision-making, without immediately having to read impact or sustainability reports to get to the real content and essence.
                    blockquote Learn from other stakeholders' feedback and improve your understanding of an organization.
                    blockquote Identify organizations with a well thought through vision that deliver impact. Decide which organizations are open to your input, and justify where to spend your resources.
                    
                
                .col-xs-12 
                    .col-xs-12.col-md-6 
                        a.button(href='/auth/register') Sign up as a organisation >
                    .col-xs-12.col-md-6
                        a.button(href='/auth/register') Sign up as a stakeholder >

    section.home__partnership.container
        .row.content__inner.home__inner
            h3 Partner with us!
            br
            
            .col-xs-12
                p.
                    We partner with monitoring and evaluation consultants and trainers, international development organisations, 
                    networks organising around social entrepreneurship or sustainability, and others.
                    Join us in helping move societal value creation to the next level. 
                    Foster a culture of strategic learning among your initiatives and members as well as improve planning, monitoring and evaluation.
                
            
            .col-xs-4
            a.col-xs-4(href='/partnerships').button.text-center Partner with us
            .col-xs-4

    section.home__actions.container-fluid.bg-gray
        .container
            .row.content__inner.home__inner
                .col-xs-12 
                    .col-xs-3
                    .col-xs-6
                        a.button(href='/auth/register') Sign up
                    .col-xs-3
                        
                .col-xs-12
                    .col-xs-6
                        a.button(href='/partnerships') Become a partner
                    .col-xs-6
                        form(method='GET' action='/pdf/product_sheet.pdf')
                            button.button(type='submit') Product sheet (pdf)

    section.home__contact.container-fluid.bg-black
        .container
            .row.content__inner.home__inner
                .col-xs-6(style='margin-top: 8px')
                    a.social-button.button(href='/contact') Contact us
                    a.social-icon(href='https://www.facebook.com/Changeroo-162037981241121/', target='_blank')
                        i.fab.fa-facebook-square
                    a.social-icon(href='https://twitter.com/changeroo_com', target='_blank')
                        i.fab.fa-twitter-square
                    a.social-icon(href='https://www.linkedin.com/company/changeroo_com/', target='_blank')
                        i.fab.fa-linkedin
                .col-xs-6 
                    h3(style='margin-top: 0px') Say hello!
                    span info@changeroo.com






        
    

        