extends ../master

include ../mixins/_contentHeader    

block content
    .inner__overlay.to-mid
    +contentHeader(title)
    .container-fluid.content__container.content__container-js.to-mid
        .container
            .col-xs-2
            .col-xs-8.pages__inner
                h2 Partner with Changeroo
                br
                p.
                    Do you represent an organisation that supports other organisations in management of societal value creation? 
                    Then you may be interested in partnering up with us.
                br 

                h3 Example applications
                p.
                    Help your affiliated members and clients to do well by doing good. 
                    Use Changeroo to enhance their strategic commitment to societal value creation,
                    and support progress within your network toward further societal significance. 
                    Improve the quality of thinking, implementation and evaluation among your affiliated members/clients.
                img(src='/img/home/partnerships_wordle.png')

                ul.partnerships-bullets
                    li 
                        strong >> Consulting and training agencies
                        br
                        small.
                            To help clients implement Theory of Change thinking in their organisations, 
                            and to help clients continuously improve and implement the lessons taught.
                    li 
                        strong >> International development agencies
                        br
                        small.
                            As an instrument to facilitate and improve planning, monitoring, 
                            evaluation and learning (PMEL) of projects undertaken and supported.
                    li 
                        strong >> Investors and grant makers
                        br
                        small.
                            To assess the quality of proposals of potential investees and grants recipients, 
                            as well as to critically monitor progress being made.
                    li 
                        strong >> Network organisations
                        br
                        small.
                            To promote and professionalise the commitment to societal value creation among members, 
                            as well as to stimulate collaboration between members.
                br 
                
                h3 Changeroo Partner Program
                p.
                    Changeroo offers a special Partner Program that gives you privileged access to our tooling to use in your services. Help your members and clients to do well by doing good. Use Changeroo to enhance their strategic commitment to societal value creation, and support progress within your network toward further societal significance. Improve the quality of thinking, implementation and evaluation among your members/clients.
                br

                h3 Request for Information
                p.
                    Do you want more information about Changeroo’s partner program? 
                    Please <a href='/contact'>send a message</a> to Martin Klein and request our brochure. 
                    We will gladly discuss the possibilities with you.
                
                .home__partners
                    .content__inner.row.home__inner

                        .partners__row.partners__first-row
                            a(target='_blank' href='http://cdi.wur.nl/english').partner.wageningen
                            a(target='_blank' href='https://www.woordendaad.nl/english').partner.woord-daad
                            a(target='_blank' href='http://www.tropenbos.org/').partner.tropenbos
                            a(target='_blank' href='https://mdf.nl/').partner.mdf
        
                        .partners__row.partners__second-row
                            a(target='_blank' href='https://www.eur.nl/ice/').partner.ice
                            a(target='_blank' href='https://www.partos.nl/en/').partner.partos
                            a(target='_blank' href='https://english.rvo.nl/').partner.rvo
                            a(target='_blank' href='https://www.hivos.org/').partner.hivos
            
                        .partners__row.partners__third-row
                            a(target='_blank' href='https://www.icco-cooperation.org/en/').partner.icco
                            a(target='_blank' href='https://www.dorcas.org/').partner.dorcas
                            a(target='_blank' href='https://english.iob-evaluatie.nl/').partner.iob
                br
                br

            .col-xs-2